/* Import the font we will be using */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap");

/* Define CSS variables */
:root {
  --black: rgb(34, 34, 38);
  --white: rgb(221, 221, 221);
  --white-25: rgba(221, 221, 221, 0.25);
}

body {
  /* Remove default margins added by the browser */
  margin: 0 0;

  /* Set background color, and global styles */
  background: var(--black);
  color: var(--white);
  font-family: "Source Sans Pro", sans-serif;

  /* Use flexbox to allow main element to grow according to screen size */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  /* Take all available vertical space */
  flex-grow: 1;

  /* Center elements horizontally and vertically */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* Add margins on smaller screens */
  max-width: 95%;
  margin: 1rem auto;
}

/* Center text in the header */
header {
  text-align: center;
}

/* Override default h1 styling */
h1 {
  font-size: 1.5em;
  font-weight: 300;
  margin: 1em 0;
}

p {
  /* Use black text on white background and override default p styling */
  background: var(--white);
  border-radius: 4px;
  color: var(--black);
  font-size: 3rem;
  font-weight: normal;
  line-height: 1.25em;
  margin: 3rem 0;
  padding: 0.125em 0.25em;
}

button {
  /* Override default button styles */
  background: transparent;
  border: none;

  /* Add custom styles */
  border-radius: 50%;
  cursor: pointer;
  font-size: 4rem;

  /* Configure spacing */
  margin: 1rem;
  padding: 2rem;

  /* Add transition animations */
  transition: all 250ms ease-in-out;
}

/* Add semi transparent background and rotate emoji slightly when mouse hovers on the elements or user navigates to the element with their keyboard */
button:hover,
button:focus-visible {
  background: var(--white-25);
  outline: none;
  transform: rotate(15deg);
}

.results {
  font-size: 2em;
  width: 100%;
}

.results-row {
  display: flex;
  margin: 2rem 0;
}

.results-bar {
  background: var(--white);
  border-radius: 4px;
  margin: 0 1rem;
  padding: 0.25rem;
  transition: width 250ms ease-in-out;
  width: 0;
}

.hidden {
  display: none;
}
